* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif
  }

  header {
    display: flex;
    padding: 25px 25px;
    margin-bottom: 10px;
    justify-content: space-between;
    background-color: #001219;
    color: #ffffff;
    border-bottom: 5px solid #005F73;
  }

  a.github {
    border: 1px solid #0A9396;
    border-radius: 2px;
    width: 75px;
    padding: 0 5px;
    text-decoration: none;
    color: #ffffff;
    background-color: #005F73;
  }

  main {
    padding: 25px 25px;
  }

  .game-center {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .playing-board {
    border: 1px solid #0A9396;
    border-radius: 10px;
    width: 40%;
    padding: 25px;
  }

  .display-board {
    color: #005F73;
    margin-bottom: 25px;
  }
  
  a.github, .display-board, .players-label, .score-board, .selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fas {
    padding-right: 10px;
  }

  .far {
    margin: 5px;
  }
  .player-selection, .computer-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 30%;
  }

  .player-selection {
    border: 1px solid #0A9396;
    color: #005F73;
    transition: all 0.5s ease;
  }

  .computer-selection {
    border: 1px solid #CBCBCB;
    color: #CBCBCB;
    transition: all 0.5s ease;
  }

  .player-selection > p, .computer-selection > p {
    font-weight: bold;
  }

  .player-selection:hover {
    background-color: #005F73;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 0.5rem #0A9396;
  }

  .computer-selection:hover {
    cursor: not-allowed;
  }

  table {
    width: 100%;
  }

  th {
    background-color: #005F73;
    color: #ffffff;
    padding: 5px 5px 5px;
    text-align: left;
  }

  /* Javascript triggered styles */
  .selected {
    transform: scale(1.1);
  }

  .win-green {
    color: #0A9396;
    border-color: #0A9396;
  }

  .lose-red {
    color: #AE2012;
    border-color: #AE2012;
  }

  .tie-black {
    color: #001219;
    border-color: #001219;
  }

  .win-green:hover, .lose-red:hover, .tie-black:hover {
    background-color: #ffffff;
    cursor: not-allowed;
    box-shadow: 0 0 0;
  }

  .win-green:hover {
    color: #0A9396;
  }

  .lose-red:hover {
    color: #AE2012;
  }

  .tie-black:hover {
    color: #001219;
  }

