/* ================================
  GENERAL STYLES
================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif
  }

  /* ===============================
    MAIN STYLES
  =============================== */
  header {
    display: flex;
    padding: 10px 25px;
    justify-content: space-between;
    background-color: #001219;
    color: #ffffff;
    border-bottom: 5px solid #005F73;
  }

  a.github {
    text-decoration: none;
    color: #ffffff;
  }

  a.github i {
    border-top: 2px solid #005F73;
    border-right: 2px solid #005F73;
    border-left: 2px solid #005F73;
    border-radius: 50%;
  }

  main {
    padding: 25px 25px;
  }

  main > p {
    margin-bottom: 5px;
    font-weight: bold;
    color: #001219;
  }

  .game-center {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .playing-board {
    border: 1px solid #0A9396;
    border-radius: 10px;
    width: 40%;
    padding: 25px;
  }

  .display-board {
    color: #005F73;
    margin-bottom: 25px;
  }
  
  a.github, .display-board, .players-label, .score-board, .selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .player-score, .computer-score {
    padding-left: 5px;
  }

  .fas {
    padding-right: 10px;
  }

  .far {
    margin: 5px;
  }
  .player-selection, .computer-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 30%;
  }

  .player-selection {
    background-color: #ffffff;
    border: 1px solid #0A9396;
    color: #005F73;
    transition: all 0.5s ease;
  }

  .computer-selection {
    background-color: #ffffff;
    border: 1px solid #CBCBCB;
    color: #CBCBCB;
    transition: all 0.5s ease;
  }

  .player-selection > p, .computer-selection > p {
    font-weight: bold;
    font-size: medium;
  }

  .player-selection:hover {
    background-color: #005F73;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 0.5rem #0A9396;
  }

  .player-selection:active {
    outline: none;
  }

  .computer-selection:hover {
    cursor: not-allowed;
  }

  table {
    width: 100%;
  }

  th {
    background-color: #005F73;
    color: #ffffff;
    padding: 5px 10px;
    text-align: left;
  }

  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #94D2BD;
  }

  /* ============================= 
  JAVASCRIPT TRIGERRED STYLES
  ============================= */
  .selected {
    transform: scale(1.1);
  }

  .win-green {
    color: #0A9396;
    border-color: #0A9396;
  }

  .lose-red {
    color: #AE2012;
    border-color: #AE2012;
  }

  .tie-black {
    color: #001219;
    border-color: #001219;
  }

  .win-green:hover, .lose-red:hover, .tie-black:hover {
    background-color: #ffffff;
    cursor: not-allowed;
    box-shadow: 0 0 0;
  }

  .win-green:hover {
    color: #0A9396;
  }

  .lose-red:hover {
    color: #AE2012;
  }

  .tie-black:hover {
    color: #001219;
  }

  .disable-click {
    border: 1px solid #CBCBCB;
    color: #CBCBCB;
  }

  .disable-click:hover {
    background-color: #ffffff;
    cursor: not-allowed;
    box-shadow: 0 0 0;
    color: #CBCBCB;
  }

  .popup-box {
    display: none;
    position: absolute;
    z-index: 3;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-30%);
    padding: 10px 10px;
    width: 80%;
    background-color: #ffffff;
    box-shadow: 0px 10px 12px -5px rgba(0,0,0,0.3);
  }

  .popup-box div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .popup-box p {
    line-height: 1.5;
  }

  .popup-box button {
    background-color: #0A9396;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    width: 150px;
    padding: 10px 10px;
    border-radius: 2px;
    border: 1px solid #005F73;
    cursor: pointer;
  }

  .popup-box-win {
    border-left: 10px solid #0A9396;
  }

  .popup-box-lose {
    border-left: 10px solid #AE2012;
  }

  /* ===================================
    MEDIA QUERIES
  =================================== */
  @media screen and (max-width: 1024px) {
    h2 {
      font-size: 1em;
    }
    
    .playing-board {
      width: 45%;
    }

    .game-center .far {
      font-size: 5em;
    }

    .game-center .fas {
      font-size: 1.5em;
    }

    .player-selection p, .computer-selection p {
      font-size: 1em;
    }
  }

  @media screen and (max-width: 540px) {
    h1 {
      font-size: 1.5em;
    }

    h2 {
      font-size: 1em;
    }

    .game-center {
      flex-direction: column;
      height: 50%;
    }

    .playing-board {
      width: 100%;
    }

    .game-center .far {
        font-size: 5em;
    }

    .game-center .fas {
      font-size: 1.5em;
    }

    th {
      font-size: 0.8em;
    }

    .popup-box div {
      flex-direction: column;
    }

    .popup-box p {
      font-size: 0.8em;
      margin-bottom: 10px;
      text-align: center;
    }
  }
